---
layout: default
---

<h2 class="hidden">Cadouri</h2><!-- this is a must to keep the document outline clean -->
{% assign product-list-type = 'scroll' %}
{% for post in site.posts limit:9 %}
  {% include product.html %}
{% endfor %}
<div id="product-scroll-left" class="product-scroller">&lsaquo;</div>
<div id="product-scroll-right" class="product-scroller">&rsaquo;</div>
<div class="clear"></div>

<section id="subscribe-gift-service">
  <h2 class="hidden">Servicii de cadouri</h2>
  <div id="call-for-action">
    <h3>Vrei sa te scapi de <em>grija</em> cadourilor pentru tot anul?
    Pentru toate ocaziile?</h3>
    <p>Spune cand vrei sa dai cadouri, la ce suma te-ai gandit, si noi te anuntam cu 
    o saptamana inainte cu oferte speciale cu livrare imediata din stock.</p>
  </div>
  <form>
    <ul>
      <li id="subscribe-now">
        <a class="button" href="/">Da, ma inscriu la serviciile de cadouri Smuff</a>
      </li>
      <li id="subscribe-email">
        <input name="subscribe-later" placeholder="Adresa Dvs. de email">
        <br/>
        <input name="submit" type="submit" value="Ma inscriu mai tarziu. Doresc instructiuni prin email">
      </li>
    </ul>
  </form>
</section>
