<header>  
  <hgroup id="logo">
    <h1>{{ site.title }}</h1>
    <p>{{ site.strapline }}</p>
  </hgroup>
  
  {% include search.html %}
  
  <div id="menu">
    <nav id="cart">
      <h2>Cos cumparaturi</h2>
      <ul>
        <li><a href="/">Cosul meu</a></li>
        <li><a href="/">Likes (Whishlist)</a></li>
        <li><a href="/">Contul meu</a></li>
      </ul>
    </nav>

    <nav id="information">
      <h2>Informatii</h2>
      <ul>
        <li><a href="/">0745-456-127</a></li>
        <li><a href="/">suport@smuff.ro</a></li>
        <li><a href="/">Livrare in 24 ore</a></li>
        <li><a href="/">Garantie 2 ani, Return 2 saptamani</a></li>
        <li><a href="/">Mai multe informatii</a></li>
      </ul>
    </nav>
  </div>
  <div class="clear"></div>
</header>
<div class="clear"></div>
