<nav id="products">
  <h2>Cadouri</h2>
  <ul>
    <li><a href="/">Gadgeturi</a></li>
    <li><a href="/">Technology</a></li>
    <li><a href="/">Entertainment</a></li>
    <li><a href="/">Toys & Games</a></li>
    <li><a href="/">Kids</a></li>
    <li><a href="/">Sports & Outdoor</a></li>
    <li><a href="/">Home & Garden</a></li>
    <li><a href="/">Food & Drink</a></li>
    <li><a href="/">Lifestyle</a></li>
    <li><a href="/">Self care</a></li>
    <li><a href="/">Eco</a></li>
    <li><a href="/">Ceasuri</a></li>
  </ul>
</nav>


<nav id="events">
  <h2>Sarbatori</h2>
  <ul>
    <li><a href="/">Craciun</a></li>
    <li><a href="/">Valentine's Day</a></li>
    <li><a href="/">Martisor</a></li>
    <li><a href="/">Ziua Femeilor</a></li>
    <li><a href="/">Ziua Mamelor</a></li>
    <li><a href="/">1 Aprilie</a></li>
    <li><a href="/">1 Mai</a></li>
    <li><a href="/">Bacalaureat</a></li>
    <li><a href="/">Ziua copiilor</a></li>
    <li><a href="/">Vacanta mare</a></li>
    <li><a href="/">Incepe scoala</a></li>
  </ul>
</nav>

<nav id="ocasions">
  <h2>Evenimente</h2>
  <ul>
    <li><a href="/">Zi de nastere</a></li>
    <li><a href="/">Botez</a></li>
    <li><a href="/">Nunta</a></li>
  </ul>
</nav>


<nav id="price-search">
  <h2>Preturi</h2>
  <ul>
    <li><a href="/">In jur de 100 RON</a></li>
    <li><a href="/">200 RON</a></li>
    <li><a href="/">300 RON</a></li>
    <li><a href="/">Peste 500 RON</a></li>
    <li><a href="/">Actiune 3+1</a></li>
    <li><a href="/">Politica de preturi</a></li>
  </ul>
</nav>

