{% assign badgename = "" %}
{% assign badge = "hidden" %}  

{% if status == "opened" %}
  {% assign badgename = "hidden" %}
  {% assign badge = "" %}  
{% endif %}

{% capture badgeid %}{{ person.name | downcase | replace:' ', '-' }}{% endcapture %}


<span id="people-badge-name" class="people-badge-name {{ badgename }}" rel="{{ badgeid }}">{{ person.name }}</span>
<div id="people-badge" class="{{ badge }} {{ badgeid }} block">
  <div id="image"><img src="{{ person.img }}" /></div>
  <div id="bio">
    <h4>{{ person.name }}</h4>
    <p>
      {{ person.bio }}
    </p>
  </div>
</div>
<div class="clear"></div>
