---
---

/* SASS structure: http://37signals.com/svn/posts/3003-css-taking-control-of-the-cascade
*/

@import "assets/mixins";



/* Typography 
*/
body {
  font-family: Arial ,Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: MuseoSans-500;
  text-transform: uppercase;
}


/* Header 
*/

body {
  .container {
    width: 90%;
    margin: 0 auto;
    
    header {
      @include block;
      margin-bottom: 2.5em;
      
      #logo {
        @include col(33%);
        #image {
          @include col(25%);
        }
        #title {
          @include col(75%);
          h1 {
            @include smuff-font;
            font-size: 4em; /* Traditional, overwritten */
            padding: .59em 0 0;
            
          }
        }
        #strapline {
          @include block;
        }
      }
      #search {
        @include col(33%);
        h2 {
          @include normal-font;
          visibility: hidden;
        }
        #searchform {
          input[name="search"] {
            font-size: smaller;
            width: 85%;
            height: 2.5em;
          }
          input[name="submit"] {
            background: url("/assets/search.png") no-repeat center center #eee;
            width: 10%;
            height: 2.5em;
          }
        }
      }
      #menu {
        @include block;
        @include col(33%);
        #cart {
          @include col(50%);
          text-align: center;
       
          h2 {
            @include normal-font;
            visibility: hidden;
          }
          ul {
            @include ul-barebones;
            margin-top: .625em;  
            
            li {
              span {
                position: relative;
                top: -.312em;
              }
            }          
          }
        }
        #information {
          @include col(50%);
          text-align: right;
          
          h2 {
            @include normal-font;
            visibility: hidden;
          }
          ul {
            @include ul-barebones;
            margin-top: .625em;
            
            li {
              span {
                position: relative;
                top: -.312em;
              }
            }
          }
        }
      }
      #menu-products {
        @include block;
        
        .select-box {
          @include col(33%);
          cursor: pointer;
          
          h2:after {
            content: '\2039';
            font-size: 2em;
            @include rotate(270deg, 1.2);
            padding: .312em .312em .625em;
          }
          
          ul {
            @include ul-barebones;
            
            li {
              display: block;
              cursor: pointer;
            }
          }
        }                
      }      
    }
    header.fixed {
      height: 5em;
      width: 90%;
      z-index: 1;
      
      #logo {
        #image {
          @include col(7%);
          margin: 0 1.5%;
        }
        #title {
          h1 {
            @include normal-font;
            @include smuff-title-font;
          }          
        }
        #strapline {
          display: none;
        }
      }
      #search {
        visibility: hidden;        
      }
      #menu {
        @include normal-font;
        h2 {
          display: none;
        }
        #cart {          
          text-align: left;
          @include col(42%);
        }
        #information {          
          text-align: left;
        }
      }
      #menu-products {
        font-size: smaller;
        width: 70%;
        position: relative;
        top: -8.5em;
        left: 10%;
        
        .select-box {
          @include col(25%);
        
          h2 {
            padding: 0;
          }
          
          ul {
            li.active {
              font-size: 2em;
              @include smuff-title-font;
              width: 200%;
            }
          }    
        }      
      }
    }
  }
}




/* Startpage
*/

#content {  
  #sidebar {
    @include col(10%);
    float: right;
    position: fixed;
    right: 5%;
    
    ul#navigation-icons {
      @include ul-inline;
      font-family: 'WebSymbolsRegular', Arial, sans-serif;
      
      li {
        margin-right: 1.25em;
        cursor: pointer;
      }
    } 
    ul {
      @include ul-navigation; 
    }
  }      
  #body {
    @include col(80%);
    
    #subscribe-gift-service {
      @include block;
      padding: 1.25em;
      
      #call-for-action {
        margin-bottom: 1.25em;
      }
      
      form {
        ul {
          @include ul-inline;
          
          li#subscribe-now {
            @include col(30%);
            margin-right: 20%;
          }
          li#subscribe-email {
            @include col(50%);
            
            input[name="subscribe-later"] {
              width: 94%;
            }
          }
        }
      }
    }
  }
}
#content.fixed {
  position: relative;
  top: 15em;  
}



/* Product
*/


#product.scroll {
  display: none;
  
  #info {
    position: relative;
    top: -12em;
    height: 5em;
    
    #inner {
      padding: 0 .312em;
      width: 40%;
      
      h2 {
        @include smuff-title-font;
      }
      ul#shopping-info {
        @include ul-barebones; 
        
        #price {
          width: 60%;        
        }
        #delivery {
          margin: .625em 0 1.25em .312em;
          padding-bottom: .625em;
        }
      }
    }
  }
}
#product.active {
  display: block;
}
.product-scroller {
  font-size: 4em;  
  position: relative;
  cursor: pointer;
  width: 10%;
}
#product-scroll-left {
  top: -7em;
  left: 1%;
}
#product-scroll-right {
  top: -8.24em;
  left: 96%;
}

#product.list {
  @include block;
  margin-bottom: 5em;
  
  #info {
    @include col(33%);
    #inner {
      padding-left: 1.25em;
      
      h2 {
        @include smuff-title-font;
      }
      ul#shopping-info {
        @include ul-barebones; 
        
        #price {
          width: 80%;        
        }
        #delivery {
          margin: .625em 0 1.25em;
        }
      }
    }    
  }
  #image {
    @include col(66%);
  }
}

#product.grid {
  @include col(33%);  
  height: 30em;
  
  #info {
    margin: 0 2.5em 0 0;
    text-align: center;
    
    h2 {
      @include smuff-title-font;
      min-height: 2.5em;
    }
    ul#shopping-info {
      @include ul-barebones; 
      
      #price {
        width: 90%;
        margin: 0 5%;
      }
      #delivery {
        margin: .625em 0 1.25em;
      }
    }
  }
  #image {
    margin: 0 2.5em 0 0;
  }
}

