---
---

/* SASS structure: http://37signals.com/svn/posts/3003-css-taking-control-of-the-cascade
*/

@import "assets/mixins";



/* Typography 
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Startpage 
*/

body {
  .container {
    width: 90%;
    margin: 0 auto;
    
    header {
      @include block;
      margin-bottom: 2.5em;
      #logo {
        @include col(33%);
        #image {
          @include col(25%);
        }
        #title {
          @include col(75%);
          h1 {
            @include smuff-font;
            font-size: 4em; /* Traditional, overwritten */
            padding: .59em 0 0;
            
          }
        }
        #strapline {
          @include block;
        }
      }
      #search {
        @include col(33%);
        h2 {
          @include normal-font;
          visibility: hidden;
        }
        #searchform {
          input[name="search"] {
            font-size: smaller;
            width: 85%;
            height: 2.5em;
          }
          input[name="submit"] {
            background: url("/assets/search.png") no-repeat center center #eee;
            width: 10%;
            height: 2.5em;
          }
        }
      }
      #menu {
        @include block;
        @include col(33%);
        #cart {
          @include col(50%);
          text-align: center;
       
          h2 {
            @include normal-font;
            visibility: hidden;
          }
          ul {
            @include ul-barebones;
            margin-top: .625em;  
            
            li {
              span {
                position: relative;
                top: -.312em;
              }
            }          
          }
        }
        #information {
          @include col(50%);
          text-align: right;
          
          h2 {
            @include normal-font;
            visibility: hidden;
          }
          ul {
            @include ul-barebones;
            margin-top: .625em;
            
            li {
              span {
                position: relative;
                top: -.312em;
              }
            }
          }
        }
      }
    }
    
    #content {
      #sidebar-left {
        @include col(10%);
        margin-top: .625em;
        ul {
          @include ul-navigation; 
        }
      }
      #sidebar-right {
        @include col(10%);
        margin-top: .625em;
        float: right;
        ul {
          @include ul-navigation; 
        }
      }
      #body {
        @include col(80%);
        h1.first {
          margin-left: 2.5em;
        }
      }
    }
  }
}


/* Product
*/

#product.list {
  @include block;
  margin-bottom: 5em;
  
  #info {
    @include col(33%);
    #inner {
      padding-left: 1.25em;
      ul#shopping-info {
        @include ul-barebones; 
      }
    }    
  }
  #image {
    @include col(66%);
  }
}

#product.grid {
  @include col(33%);  
  height: 27em;
  
  #info {
    padding: 0 1.25em;
    text-align: center;
    ul#shopping-info {
      @include ul-barebones; 
    }
  }
  #image {
    padding: 0 1.25em;
  }
}

