body {
  font-family: "Old Standard TT";
}



/* Links
*/

a {
  color: #0000FF;
  text-decoration: none;
}
a:visited {
  color: #7914CC;
}
a:active {
  color: #FF0000;
}

h1 a, #menu a,
h1 a:visited, #menu a:visited {
  color: #000;
}

#next-post a {
  color: #000;
}
#next-post a:visited {
  color: #333;
}



/* Articles
*/


#next-post {
  border-color: #999;
}

article #people-badge-name {
  background: #f3f3f3;
  padding: 0 .1em;
}
article #people-badge {
  background: #f3f3f3;
}
article #people-badge h4 {
  border-bottom: 1px inset;
}
article #people-badge p {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: small;
}


/* Archives
*/

#archives li, .archive li {
  border-color: #eee;
}


/* Other
*/

.notice {
  color: #999;
  border-color: #999;
}
