---
layout: default
id: quote
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>    
    <h1 itemprop="headline">
      <a title="{{ page.title }}" href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <!--
    <p><time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%B %Y" }}</time></p>    
    -->
  </header>
  
  <div id="body">
    <blockquote>
      {{ content }}
    </blockquote>
  </div>
  
  
  <footer>
    {% include quote-categories.html %}
    {% include previous-next-post.html %}
  </footer>
</article>
